Flask==0.12.3
Flask-SQLAlchemy==1.0
Jinja2==2.8.1
MarkupSafe==0.23
SQLAlchemy==0.9.7
Werkzeug==0.9.6
argparse==1.2.1
beautifulsoup4==4.3.2
itsdangerous==0.24
requests==2.20.0
wsgiref==0.1.2
poster
oauth2
